@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css or index.css */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@layer utilities {
  .gradient-text1 {
    background: linear-gradient(90deg, #1C1C1C 0%, #E3E3E3 50.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .gradient-text2 {
    background: linear-gradient(90deg, #E3E3E3 100.1%, #1C1C1C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .gradient-text3 {
    background: linear-gradient(90deg, #E3E3E3 0%, #E3E3E3 10%, #1C1C1C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
